$main-color: black;
$navbar-link-fontsize: 20px;
$navbar-link-active-color: white;
$navbar-link-color: gray;
$catalog-background-color: #f5f5f5;
$catalog-menu-header-background-color: #e0e0e0;
$catalog-link-color: #212121;
$catalog-link-hover-color: #eeeeee
